
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bo{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color:rgb(254,241,208);
}
.infol{
    float:top;
    margin-top: 20%;
}
.infor{
    float:top;
    margin-top: 20%;
    padding-left: 1%;
}
.box{
    margin-top: 5%;

}
.border{
    border-style: groove;
    border-color: rgb(197,164,122);
}
.menu{
    position: absolute;
    background-color: rgb(60,36,21);
    bottom: 0;
    color:rgb(254,254,254);
}